#Los operadores lógicos

Recordemos los operadores de comparación

![img1](https://facialix.com/images/cond.png)

y veamos algunos ejemplos de los operadores logicos en acción

![img2](https://facialix.com/images/logicos.png)

**En este ejercicio debes mostrar el valor que se obtiene de las sentencias al ejecutarlas en codigo y explicarlas:**

1) **not true**

In [ ]:
print(not True)

False

In [ ]:
print(not not not True)

False

En el primer caso se imprime not true que es lo mismo a decir que es falso.
En el segundo caso el número de not true es impar por lo que el valor se invierte y luevo vuelve a ser el mismo, por eso resulta un false.

2) **not (1+2 != 3)**

In [ ]:
not (1+2 != 3)

True



Se dice que el resultado de uno más dos (3) es distinto a 3 pero esta afirmación u asignación se niega en un principio por lo que resulta verdadero.

3) **x = (len("jugar") > 5) and (len("jugar") < 10)**

In [2]:
 x = (len("jugar") > 5) and (len("jugar") < 10)
 print (x)

False

Ya que la función de len obtiene la longitud de la cadena y dice que la palabra "jugar" es mayor a 5 letras y además menor a 10, resulta ser falso.

4) **"alto"[2] == "t" and x**

In [10]:
"alto"[2]=="t"

True

In [11]:
x

False

In [4]:
"alto"[2] == "t" and x

False

Primero se dice que la segunda letra después de la inicial en la palabra "alto" es la "t", lo cual es cierto, sin embargo x es falsa por lo que toda la asignación resulta en False.

5) **842913%10 != 3 and len("café") == 3**

In [5]:
842913%10

3

In [8]:
len("café") == 3

False

In [ ]:
842913%10 != 3 and len("café") == 3

False

Primero se dice que el módulo de 842913/10 es 3, lo que es verdadero pero al decir que la cedena "café" tiene 3 carácteres se vuelve falso.

6) **0!=0 or "a" < "y"**

In [ ]:
0!=0 or "a" < "y"

True

In [18]:
0!=0

False

In [17]:
"a"<"y"

True

Dado que 0 no es distinto a 0 se dice que el operador es falso pero "a" si es menor a "y" por lo que al haber un "or" y éste devuelve true si al menos un elemento lo es, entonces 0!=0 or "a" < "y" es True.

7) **True or int("50") >= 50**

In [ ]:
True or int("50") >= 50

True

In [21]:
True or True

True

El entero de "50" si es mayor o igual a 50, debido a esto el operador dice True or True por lo que resulta True.

8) **edad = 20**

**not(x) or edad%2==0**

In [ ]:
edad = 20

not(x) or edad%2==0

True

In [22]:
x

False

In [29]:
not(False)

True

In [28]:
20%2

0

x es False por lo que al decir not(x) estamos devolviendo un True, por otra parte, el módulo de 20/2 si es 0. Al final tenemos True or True y esto es True.

9) **es_cliente = False**

**not (es_cliente and not(edad < 18))**

In [ ]:
es_cliente = False

not (es_cliente and not(edad < 18))

True

Not (False) devuelve True y esto sucede porque es_cliente tiene la asignación de ser False.
Edad es igual a 20 por lo que edad < 18 es Falso pero not(False) es True.
Al final el operador dice: True and True, esto devuelve True.

###Recursos extra para estudiar y ejercios

- Video corto de Coursera: [Tablas de verdad y álgebra booleana](https://www.coursera.org/lecture/programacion-python/tablas-de-verdad-y-algebra-booleana-JJs0E)
- Articulo corto de [Tablas de la verdad](https://www.ecured.cu/Tablas_de_la_verdad)
- Ejercicios practicos en portal de [Tablas de Verdad](https://www.edu.xunta.gal/espazoAbalar/sites/espazoAbalar/files/datos/1493724904/contido/tablas_de_verdad.html)
- Guía de [Ejercicios de Lógica](https://www.fing.edu.uy/tecnoinf/mvd/cursos/mdl1/material/pra/buceo_noct/mdl1-pr-logica.pdf)